In [98]:
import pandas as pd
df = pd.read_excel("table\List for python.xlsx",dtype=str)
df

,Category,function,In,Out
0,Slice,mylist[0:5],"mylist = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]","[0, 1, 2, 3, 4]"
1,Slice,mylist[:],"mylist = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]"
2,Slice,mylist[:5],"mylist = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]","[5, 6, 7, 8, 9, 10]"
3,Slice,mylist[:5],"mylist = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]","[0, 1, 2, 3, 4]"
4,Slice,mylist[0:10:2],"mylist = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]","[0, 2, 4, 6, 8]"
5,Slice,mylist[::2],"mylist = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]","[0, 2, 4, 6, 8, 10]"
6,Slice,mylist[-4:],"mylist = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]","[7, 8, 9, 10]"
7,Slice,mylist[-1:-9:-1],"mylist = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]","[10, 9, 8, 7, 6, 5, 3, 2]"
8,convert,list(),list({}),[]
9,Membership,in,"a = [""apple"",""orange"",""lemon""]\nprint(""lemon"" ...",True
10,update,variable = list[1],"a = [""apple"",""orange"",""lemon""]\na[1] = ""banana...","['apple', 'banana', 'lemon']"
11,add another list to the list,list.extend(list2),"a= [1,2,3,4]\nb= [5,6,7,8,9]\na.extend(b)","[1, 2, 3, 4, 5, 6, 7, 8, 9]"
12,add another list to the list,list1 + list2,"list1 = [""a"", ""b"", ""c""]\nlist2 = [1, 2, 3]\n\n...","['a', 'b', 'c', 1, 2, 3]"
13,add a value,list.append(any data value),"list1 = [""a"", ""b"" , ""c""]\nlist2 = [1, 2, 3]\n\...","['a', 'b', 'c', 1, 2, 3]"
14,remove a value with name,list.remove(any data value),"thislist = [""apple"", ""banana"", ""cherry""]\nthis...","['apple', 'cherry']"
15,remove a value with index number,list.pop(index),"thislist = [""apple"", ""banana"", ""cherry""]\nprin...","banana\n['apple', 'cherry']"
16,remove value,del list,"thislist = [""apple"", ""banana"", ""cherry""]\ndel ...","['banana', 'cherry']"
17,remove all,list.clear(),"a = [1,2,3,4]\na.clear()\nprint(a)",[]
18,show values,for loop,"thislist = [""apple"", ""banana"", ""cherry""]\nfor ...",apple\nbanana\ncherry
19,show values,range(),"thislist = [""apple"", ""banana"", ""cherry""]\nfor ...",apple\nbanana\ncherry
20,show values,while loop,"thislist = [""apple"", ""banana"", ""cherry""]\ni = ...",apple\nbanana\ncherry
21,if statement,if,"emailList = [""lsb@go.byuh.edu"", ""hgb@gmail.com...","['lsb@go.byuh.edu', 'cac@go.byuh.edu']"
22,sort,sort(reverse),"thislist = [""orange"", ""mango"", ""kiwi"", ""pineap...","['banana', 'kiwi', 'mango', 'orange', 'pineapp..."
23,sort with another way,sort(key),"thislist = [100, 50, 65, 82, 23]\nthislist.sor...","[50, 65, 23, 82, 100]"
24,copy list,list.copy(),"thislist = [""apple"", ""banana"", ""cherry""]\nmyli...","['apple', 'banana', 'cherry']"

## Make a list

In [67]:
mylist= [i for i in range(11)]
print(mylist)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

## Slice

In [69]:
a = mylist[0:5]
b = mylist[:]
c = mylist [5:]
d = mylist[:5]
e = mylist[0:10:2]
f = mylist[::2]
print(a,b,c,d,e,f)

[0, 1, 2, 3, 5] [0, 1, 2, 3, 5, 6, 7, 8, 9, 10] [6, 7, 8, 9, 10] [0, 1, 2, 3, 5] [0, 2, 5, 7, 9] [0, 2, 5, 7, 9]

In [70]:
a = mylist[-4:]
b = mylist[-1:-9:-1]
print(a)
print(b)

[7, 8, 9, 10]
[10, 9, 8, 7, 6, 5, 3, 2]

## Convert

In [71]:
a= "apple"
b="orange"
c="lemon"

d = list({a,b,c})
e = list((a,b,c))

print(d)
print(e)

['apple', 'lemon', 'orange']
['apple', 'orange', 'lemon']

## Membership

In [72]:
a = ["apple","orange","lemon"]
print("lemon" in a)

True

## Update

In [73]:
a = ["apple","orange","lemon"]
a[1] = "banana"
print(a)

['apple', 'banana', 'lemon']

## Add values

In [74]:
a= [1,2,3,4]
b= [5,6,7,8,9]
a.extend(b)

print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [75]:
a= [1,2,3,4,5]
b = (6,7,8,9)
c = {10,11,12,13}
d={'a':16, 'b':114}

a.extend(b)
a.extend(c)
a.extend(d)
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 'a', 'b']

In [ ]:
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]
list3 = []
list3.extend(list1)
list3.extend(list2)
print(list3)

['a', 'b', 'c', 1, 2, 3]

In [94]:
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

In [96]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

for x in list2:
  list1.append(x)

print(list1)

['a', 'b', 'c', 1, 2, 3]

## Remove values

In [76]:
thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry']

In [77]:
thislist = ["apple", "banana", "cherry"]
print(thislist.pop(1))
print(thislist)

banana
['apple', 'cherry']

In [78]:
thislist = ["apple", "banana", "cherry"]
del thislist[0]
print(thislist)

['banana', 'cherry']

In [79]:
a = [1,2,3,4]
a.clear()
print(a)

[]

## Show values

In [80]:
thislist = ["apple", "banana", "cherry"]
for x in thislist:
    print(x)

apple
banana
cherry

In [81]:
thislist = ["apple", "banana", "cherry"]
for i in range(len(thislist)):
    print(thislist[i])

apple
banana
cherry

In [82]:
thislist = ["apple", "banana", "cherry"]
i = 0
while i < len(thislist):
  print(thislist[i])
  i = i + 1

apple
banana
cherry

## Make unique lists

In [83]:
emailList = ["lsb@go.byuh.edu", "hgb@gmail.com", "cac@go.byuh.edu"]
a = "@go.byuh.edu"
b = [i for i in emailList if a in i]
print(b)

['lsb@go.byuh.edu', 'cac@go.byuh.edu']

In [84]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x.upper() for x in fruits]

print(newlist)

['APPLE', 'BANANA', 'CHERRY', 'KIWI', 'MANGO']

In [85]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
a = map(lambda x: x.upper(), fruits)
print(list(a))

['APPLE', 'BANANA', 'CHERRY', 'KIWI', 'MANGO']

In [86]:
num = ['1','2','3','4']
a = map(int, num)
a = list(a)
print(a)
b = list(map(str,a))
print(b)

[1, 2, 3, 4]
['1', '2', '3', '4']

In [87]:
num = ['1','2','3','4']
a = map(lambda i:i.upper(),num)
print(list(a))

['1', '2', '3', '4']

## Sort values

In [88]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort()
print(thislist)
thislist.sort(reverse=True)
print(thislist)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']
['pineapple', 'orange', 'mango', 'kiwi', 'banana']

In [89]:
thislist = [100, 50, 65, 82, 23]
thislist.sort()
print(thislist)
thislist.sort(reverse=True)
print(thislist)

[23, 50, 65, 82, 100]
[100, 82, 65, 50, 23]

In [90]:
def myfunc(n):
  return abs(n - 50) #Sort the list based on how close the number is to 50:

thislist = [100, 50, 65, 82, 23]
thislist.sort(key = myfunc) 
print(thislist)

[50, 65, 23, 82, 100]

In [91]:
thislist = [100, 50, 65, 82, 23]
thislist.sort(key= lambda x: abs(x-50))
print(thislist)

[50, 65, 23, 82, 100]

## Copy Values

In [101]:
thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist)

['apple', 'banana', 'cherry']

In [93]:
thislist = ["apple", "banana", "cherry"]
mylist = list(thislist)
print(mylist)

['apple', 'banana', 'cherry']

In [104]:
a = [1,2,3,4]
b = a.copy()
print(a)
print(b)
a.extend((6,7))
print(a)
print(b)

[1, 2, 3, 4]
[1, 2, 3, 4]
[1, 2, 3, 4, 6, 7]
[1, 2, 3, 4]