## Set function

Sets are used to store multiple items in a single variable.

Set is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Tuple, and Dictionary, all with different qualities and usage.

A set is a collection which is unordered, unchangeable*, and unindexed.

see: [w3schools](https://www.w3schools.com/python/python_sets.asp)

In [1]:
import pandas as pd
pd.set_option('display.max_rows', 100)
df = pd.read_excel("table\Set for Python.xlsx",dtype=str)
df.head(None)

,Category,function,In,Out
0,convert,set(),"a = [1,2,3,3]\nb = (1,2,3,4)\nc = {""car"":""Toyo...","{1, 2, 3} {1, 2, 3, 4} {'model', 'car'}"
1,Show,for loop,"a = {1,2,3}\nfor i in a:\n print(i)",1\n2\n3
2,Membership,in,"a = {1,2,3}\nprint(2 in a)",True
3,Add Sets,set.add(value),"a ={1,2,3}\na.add(4)\nprint(a)","{1, 2, 3, 4}"
4,Add Sets,set.update(set2),"a ={1,2,3}\nb={4,5,6}\na.update(b)\nprint(a)","{1, 2, 3, 4, 5, 6}"
5,Add Sets,set.union(set2),"a ={1,2,3}\nb ={4,5,6}\nc = a.union(b)\nprint(c)","{1, 2, 3, 4, 5, 6}"
6,remove value,set.remove(value),"a={1,2,3}\na.remove(2)\nprint(a)","{1, 3}"
7,remove value,set.discard(value),"a={1,2,3}\na.discard(2)\nprint(a)","{1, 3}"
8,remove value randomly,set.pop(),"a={1,2,3}\na.pop()\nprint(a)","{2, 3}"
9,remove all,set.clear(),"a={1,2,3}\na.clear()\nprint(a)",set()
10,delete set,del set,"a={1,2,3}\ndel a\nprint(a)",NameError: name 'a' is not defined
11,keep only the dupicates,set.intersection_update(set2),"a={1,2,3}\nb={4,5,1}\na.intersection_update(b)...",{1}
12,keep only the dupicates,set.intersection_update(set2),"a={1,2,3}\nb={4,5,1}\nc = a.intersection(b)\np...",{1}
13,"Keep All, But NOT the Duplicates",set.intersection_update(set2),"a={1,2,3}\nb={1,4,5}\na.symmetric_difference_u...","{2, 3, 4, 5}"
14,"Keep All, But NOT the Duplicates",set.symmetric_difference_update(set2),"a={1,2,3}\nb={1,4,5}\nc = a.symmetric_differen...","{2, 3, 4, 5}"
15,"Keep All, But NOT the Duplicates",set.symmetric_difference_update(set2),"x = {""apple"", ""banana"", ""cherry"", True}\ny = {...","{2, 'cherry', 'banana', 'google'}"

In [2]:
myset = {"apple", "banana", "cherry"}
print(myset)

{'apple', 'banana', 'cherry'}

### Does't allow duplicate

In [3]:
thisset = {"apple", "banana", "cherry", "apple"}
print(thisset)

{'apple', 'banana', 'cherry'}

## convert

In [4]:
a = [1,2,3,3]
b = (1,2,3,4)
c = {"car":"Toyota","model":"VOXY"}

a = set(a)
b = set(b)
c = set(c)
print(a,b,c)

{1, 2, 3} {1, 2, 3, 4} {'model', 'car'}

## Show

In [5]:
a = {1,2,3}
for i in a:
    print(i)

1
2
3

## Membership

In [6]:
a = {1,2,3}
print(2 in a)

True

## Add Sets

In [7]:
a ={1,2,3}
a.add(4)
print(a)

{1, 2, 3, 4}

In [8]:
a ={1,2,3}
b={4,5,6}
a.update(b)
print(a)

{1, 2, 3, 4, 5, 6}

you can add any any iterable object.

In [9]:
a ={1,2,3}
b=[4,5,6]
a.update(b)
print(a)

{1, 2, 3, 4, 5, 6}

The union() method returns a **new** set with all items from both sets:

In [10]:
a ={1,2,3}
b ={4,5,6}
c = a.union(b)
print(c)

{1, 2, 3, 4, 5, 6}

In [11]:
a ={1,2,3}
b ={4,5,6}
a.union(b)
print(a)

{1, 2, 3}

## Remove
If the item to remove does not exist, remove() will raise an error.

If the item to remove does not exist, discard() will NOT raise an error.

In [12]:
a={1,2,3}
a.remove(2)
print(a)

{1, 3}

In [13]:
a={1,2,3}
a.discard(2)
print(a)

{1, 3}

Remove a random item by using the pop() method:

Sets are unordered, so when using the pop() method, you do not know which item that gets removed.

In [14]:
a={1,2,3}
a.pop()
print(a)

{2, 3}

The clear() method empties the set:

In [15]:
a={1,2,3}
a.clear()
print(a)

set()

The del keyword will delete the set completely:

That is why valuable a is not defined

In [16]:
a={1,2,3}
del a
print(a)

NameError: name 'a' is not defined

## Keep ONLY the Duplicates

In [ ]:
a={1,2,3}
b={4,5,1}
a.intersection_update(b)
print(a)

{1}

The intersection() method will return a **new** set, that only contains the items that are present in both sets.

In [ ]:
a={1,2,3}
b={4,5,1}
c = a.intersection(b)
print(c)

{1}

## Keep All, But NOT the Duplicates
The symmetric_difference_update() method will keep only the elements that are NOT present in both sets.

Note: The values True and 1 are considered the same value in sets, and are treated as duplicates:

In [ ]:
a={1,2,3}
b={1,4,5}
a.symmetric_difference_update(b)
print(a)

{2, 3, 4, 5}

The symmetric_difference() method will return a **new** set, that contains only the elements that are NOT present in both sets.

In [ ]:
a={1,2,3}
b={1,4,5}
c = a.symmetric_difference(b)
print(c)

{2, 3, 4, 5}

In [ ]:
x = {"apple", "banana", "cherry", True}
y = {"google", 1, "apple", 2}

z = x.symmetric_difference(y)
print(z)

{2, 'cherry', 'banana', 'google'}