## Set function

Sets are used to store multiple items in a single variable.

Set is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Tuple, and Dictionary, all with different qualities and usage.

A set is a collection which is unordered, unchangeable*, and unindexed.

see: [w3schools](https://www.w3schools.com/python/python_sets.asp)

In [1]:
myset = {"apple", "banana", "cherry"}
print(myset)

{'apple', 'cherry', 'banana'}

### Does't allow duplicate

In [2]:
thisset = {"apple", "banana", "cherry", "apple"}
print(thisset)

{'apple', 'cherry', 'banana'}

## convert

In [3]:
a = [1,2,3,3]
b = (1,2,3,4)
c = {"car":"Toyota","model":"VOXY"}

a = set(a)
b = set(b)
c = set(c)
print(a,b,c)

{1, 2, 3} {1, 2, 3, 4} {'model', 'car'}

## Show

In [4]:
a = {1,2,3}
for i in a:
    print(i)

1
2
3

## Membership

In [5]:
a = {1,2,3}
print(2 in a)

True

## Add Sets

In [6]:
a ={1,2,3}
a.add(4)
print(a)

{1, 2, 3, 4}

In [7]:
a ={1,2,3}
b={4,5,6}
a.update(b)
print(a)

{1, 2, 3, 4, 5, 6}

you can add any any iterable object.

In [8]:
a ={1,2,3}
b=[4,5,6]
a.update(b)
print(a)

{1, 2, 3, 4, 5, 6}

The union() method returns a **new** set with all items from both sets:

In [14]:
a ={1,2,3}
b ={4,5,6}
c = a.union(b)
print(c)

{1, 2, 3, 4, 5, 6}

In [15]:
a ={1,2,3}
b ={4,5,6}
a.union(b)
print(a)

{1, 2, 3}

## Remove
If the item to remove does not exist, remove() will raise an error.

If the item to remove does not exist, discard() will NOT raise an error.

In [9]:
a={1,2,3}
a.remove(2)
print(a)

{1, 3}

In [10]:
a={1,2,3}
a.discard(2)
print(a)

{1, 3}

Remove a random item by using the pop() method:

Sets are unordered, so when using the pop() method, you do not know which item that gets removed.

In [11]:
a={1,2,3}
a.pop()
print(a)

{2, 3}

The clear() method empties the set:

In [12]:
a={1,2,3}
a.clear()
print(a)

set()

The del keyword will delete the set completely:

That is why valuable a is not defined

In [13]:
a={1,2,3}
del a
print(a)

NameError: name 'a' is not defined

## Keep ONLY the Duplicates

In [16]:
a={1,2,3}
b={4,5,1}
a.intersection_update(b)
print(a)

{1}

The intersection() method will return a **new** set, that only contains the items that are present in both sets.

In [18]:
a={1,2,3}
b={4,5,1}
c = a.intersection(b)
print(c)

{1}

## Keep All, But NOT the Duplicates
The symmetric_difference_update() method will keep only the elements that are NOT present in both sets.

Note: The values True and 1 are considered the same value in sets, and are treated as duplicates:

In [20]:
a={1,2,3}
b={1,4,5}
a.symmetric_difference_update(b)
print(a)

{2, 3, 4, 5}

The symmetric_difference() method will return a **new** set, that contains only the elements that are NOT present in both sets.

In [21]:
a={1,2,3}
b={1,4,5}
c = a.symmetric_difference(b)
print(c)

{2, 3, 4, 5}

In [23]:
x = {"apple", "banana", "cherry", True}
y = {"google", 1, "apple", 2}

z = x.symmetric_difference(y)
print(z)

{2, 'cherry', 'banana', 'google'}